@model IEnumerable<Proyecto_Web_ll.Models.Contacto>


@{
    ViewData["Title"] = "Index";
}

<strong class="strong">LIST OF CONTACTS</strong>
<br>
<br>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                  Name
                </th>
                <th>
                    LastName
                </th>
                <th>
                   Phone
                </th>
                <th>
                   Email
                </th>
                <th>
                    Occupation
                </th>
            <th>
                Client
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Uno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CedulaJuridica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button type="button" class="btn btn-secondary center-block"> <a asp-action="Create">Create New</a></button>
</div>