@model Proyecto_Web_ll.Models.Ticket

@{
    ViewData["Title"] = "Details";
}


<h2>Details Ticket</h2>



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/images/logo.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                          @Html.DisplayFor(model => model.Titulo)</h4>
                       
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>Detail:  @Html.DisplayFor(model => model.Detalle)
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a> Person who reported:  @Html.DisplayFor(model => model.PersonaReporte)</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> Identification Client: @Html.DisplayFor(model => model.Cliente.CedulaJuridica)</p>
                            
                            <i class="glyphicon glyphicon-gift"></i> Estado:  @Html.DisplayFor(model => model.Estado.Nombre)</p>
                            <br>
                          <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                           <a asp-action="Index">Back to List</a>
                    </div>

 
                </div>
            </div>
        </div>
    </div>



</div>
