@model IEnumerable<Proyecto_Web_ll.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Title
                </th>
                <th>
                    Details
                </th>
                <th>
                 Who reported?
                </th>
            <th>
                Client
            </th>
            <th>
               Condition
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaReporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CedulaJuridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
