@model IEnumerable<Proyecto_Web_ll.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}
@if(Session.isSingin){
<strong class="strong">LIST OF TICKETS</strong>
<br>
<br>
<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                   Title
                </th>
                <th>
                    Details
                </th>
                <th>
                 Who reported?
                </th>
            <th>
                Client
            </th>
            <th>
               Condition
            </th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaReporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CedulaJuridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <a class="glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.ID"></a>
                <a class="glyphicon glyphicon-duplicate" asp-action="Details" asp-route-id="@item.ID"></a> 
                <a class="glyphicon glyphicon-remove-circle" asp-action="Delete" asp-route-id="@item.ID"></a>
            </td>
        </tr>
}
    </tbody>
</table>
<button type="button" class="btn btn-secondary center-block"> <a asp-action="Create">Create New</a></button>
</div>
}