@model IEnumerable<Proyecto_Web_ll.Models.Cliente>



@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Name
                </th>
                <th>
                    Identity Card
                </th>
                <th>
                   Web Page
                </th>
                <th>
                    Address
                </th>
                <th>
                   Phone
                </th>
            <th>
                Work Area
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaJuridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaginaWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
